/*---- header Section-----*/
header img{
    width: 20%;
    margin-bottom: 20px;
}

.login-page{
    margin-top: 8%;
}

/*---- Start login-form Section-----*/
.login-form{
    background-color: rgb(255, 166, 0);
    padding: 5%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    width: 500px;
    display: block;
}
.input-box{
    margin-bottom: 10px;
}
/*---- Sign-up-form Section-----*/
	div#sign-up-form{	
					width:500px; 
					border: 0px solid #dddd;
					padding: 50px;
                    background: #c0c0c052;
                    border-radius: 10px;
                    display: none;
	}
	
	#inputfild input {
						padding:8px; 
						margin-bottom: 10px; 
						width: 100%;
	}
	
	.signuptitle {	
					background:#f4a803;
					margin-bottom:10px;
					width:100%;		
	}
	
	.signuptitle h2{font-size: 14px;
					padding: 10px; 
					margin:0px; color: 
					white; font-family: 
					arial black;text-align: center
	}
	
	.submitButton button{background:#f4a803;
						color: white; 
						border-radius: 5px
	}
						
	#inputfild select {
						padding:8px; 
						margin-bottom: 10px; 
						width: 100%;
	}
	.inputfild span {
						width:100%; 
						padding: 10px; 
						margin-bottom: 10px;
						display: block;
	}
    
    /*----------total finance section-------------*/

    #main-area-1{
        display: none;
    }


    .finance-header{
        text-transform: uppercase;
        background-color: cadetblue;
        color: white;
    }
    .amounts-section{
        background-color: rgb(255, 255, 255);
        padding: 50px 0px;
    }
    .more-details{
        margin:auto;
        margin-bottom: 50px;
    }
    .total{
        background: hotpink;
        padding: 20px;
        color: white;
        text-transform: uppercase;
        box-shadow: 0px 3px 5px 0px #0000005e;
        border-radius: 5px;
        overflow-wrap: break-word;
        margin: 10px;

    }
    .founder-invest{
        background: green;
    }
    .investor-invest{
        background: orange;
    }
    .profit{
        background: lightseagreen;
    }
    .cash{
        background: green ;
    }
    .dues{
        background: red;
    }
    .product-storage{
        background: gold;
    }
    /*---------Investors details section----------*/
    .i-details-header h4{
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    table{
        width: 100%;
        margin-bottom: 50px;
    }
    table, th, td {
        border: 1px solid black;
        text-align: center;
      }

    /*---------founders details section----------*/
    .f-details-header{
        text-transform: uppercase;
        font-weight:bold;
        margin: auto;
    }

    .founders{
        text-transform: uppercase;
        overflow-wrap: break-word;
        background-color: rgb(243, 243, 243);
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .founders img{
        border-radius: 10%;
    }
    .founders h5{
        font-weight: 700;
        margin-top: 10px;
    }
    .founders button{
        text-transform: uppercase;
    }
